extends layout

block content
    article.container
        .item.center
            h1=title
            h2=description
            h3
                a(href="/") Regresar
            br
            -if(error)
                pre.error
                    code #{error.stack}
            